
<div class="container" >
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      
      <li class="nav-item"><a routerLink="/" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link " aria-current="page">About</a></li>
      <li class="nav-item"><a routerLink="/products" class="nav-link" aria-current="page">Products</a></li>
      <li class="nav-item"><a routerLink="/services" class="nav-link" aria-current="page">Services</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link" aria-current="page">Contact</a></li>
    </ul>
  </header>
</div>

<footer class="footer">
  <p>&copy; 2024 Adil. Footer Section</p>
</footer>


<router-outlet></router-outlet>